<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nhom5_Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF648EA31EAB3E6400D3BEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF648EBA1EAB3E6400D3BEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF648EC51EAB3E6400D3BEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
